<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ZipDestinationPath" value="C:\Users\User\Desktop" />
    <add key="ImageSourcePath" value="C:\Users\User\Desktop\imagesForTestApplication" />
    <add key="MetaInfoDelimiter" value="|" />
  </appSettings>
</configuration>